
<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"></meta>
<body>

	<div id="navi">
		<div id='naviDiv'>
			<span><img th:src="@{/images/arror.gif}" width="7" height="11"
				border="0" alt=""></img>&nbsp;管理员管理</span>&nbsp; <span><img
				th:src="@{/images/arror.gif}" width="7" height="11" border="0"
				alt=""></img>&nbsp;<a href="admin-query">管理员列表</a></span>&nbsp;
		</div>
	</div>
	<div id="tips"></div>
	<div id="mainContainer">
		<!-- 从session中获取管理员集合 -->
		<strong>添加管理员资料</strong> <br></br> <br></br>
		<form name="addForm" action="user-save" method="post">
			<table style="width: 400px;">
				<tr>
					<td>管理员账号</td>
					<td><input name="username"></input></td>
				</tr>
				<tr>
					<td>管理员密码</td>
					<td><input name="password"></input></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input class="button"
						type="submit" value="添加"></input></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>