<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/signin">
<!-- layout文件路径-->
<head>
<title>登陆</title>
</head>
<body>

	<div layout:fragment="content" class="container">

		<form class="form-signin" th:action="@{'/admin/classroom-update'}" method="post">
			<h2 class="form-signin-heading">修改教室</h2>
			<input name="id" th:value="${class_room.id}" type="number" id="inputNumber"
				class="form-control" placeholder="教室代号" readonly="readonly"></input> 
				<input name="location" th:value="${class_room.location}"
				type="text" id="inputText" class="form-control"
				placeholder="Password" required="required"></input>
			<button class="btn btn-lg btn-primary btn-block" type="submit">修改</button>
		</form>

	</div>
	<!-- /container -->

</body>
</html>
